<div class="page-header">
  <h1><%= "#{@project.name}: Manage Members" %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", project_path(@project) %></li>
  <li class="active">Memberships</li>
</ul>

<% if @membership.errors.any? %>
  <div class="row">
    <div class="col-md-7">
      <div class="alert alert-danger">
        <h3><%= pluralize(@membership.errors.count, "error") %> prohibited this form from being saved: </h3>
        <ul>
          <% @membership.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.is_owner?(@project) %>
  <div class="well">
    <%= form_for([@project, @membership], html: {class: 'form-inline'}) do |f| %>
      <div class="form-group">
        <%= f.collection_select(:user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= f.collection_select(:role_id, Role.all, :id, :title, {}, {class: 'form-control'}) %>
      </div>
      <div class="actions form-group">
        <%= f.submit "Add New Member", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>


<% @project.memberships.each do |membership| %>

  <div class="row">
    <div class="col-md-2">
      <p><%= link_to "#{membership.user.full_name}" %></p>
    </div>

    <% if current_user.is_owner?(@project) %>
      <%= form_for([@project, membership], html: {class: 'form-inline'}) do |f| %>
        <div class="col-md-1 form-group">
          <%= f.collection_select(:role_id, Role.all, :id, :title, {}, {class: 'form-control'}) %>
        </div>
        <div class="actions form-group col-md-1 col-md-offset-1">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <% if membership.role_id == 1 && @project.memberships.where(role_id: 1).count == 1 %>
        <p>You are the last owner</p>
      <% else %>
        <div class="actions form-group btn">
          <%= link_to "", project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove" %>
        </div>
      <% end %>
    <% else %>
      <% if membership.role_id == 1 %>
        <p class="col-md-2">owner</p>
      <% else %>
        <p class="col-md-2">member</p>
      <% end %>
      <% if current_user.id == membership.user_id %>
        <%= link_to "", project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove" %>
      <% end %>
    <% end %>
  </div>

<% end %>
