

<%= form_for(@task, html: {class: 'form-horizontal'}) do |f| %>

  <div class="field form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-md-4"><%= f.text_field :description, class: "form-control" %></div>
  </div>

  <% unless @task.new_record? %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.check_box :completed %>
        <%= f.label :completed %>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class='col-md-4 col-sm-offset-2'><%= f.submit name_of_button, class: "btn btn-primary" %>
      <%= link_to 'cancel', tasks_path, class: 'btn btn-default' %></div>
  </div>

<% end %>
