<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Task", new_task_path, class: 'btn btn-info' %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.completed %>
            <s><%= link_to task.description, task_path(task) %></s>
          <% else %>
            <%= link_to task.description, task_path(task) %>
          <% end %>
          <div class="pull-right">
            <%= link_to "Edit", edit_task_path(task), class: 'btn btn-info text-right' %>
            <%= link_to "Destroy", task_path(task), method: :delete, class: 'btn btn-danger text-right' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
