<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Task", new_project_task_path(@project), class: 'btn btn-info' %>
  </div>
  <h1><%= "Tasks for #{@project.name}" %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", project_path(@project) %></li>
  <li class="active">Tasks</li>
</ul>

<table class="table">

  <thead>
    <tr>
      <th>Description</th>
      <th>Due on</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>

        <td class="col-md-3">
          <% if task.completed %>
            <s><%= link_to task.description, project_task_path(@project, task) %></s> <span class="badge"><%= task.comments.count %></span>
          <% else %>
            <%= link_to task.description, project_task_path(@project, task) %> <span class="badge"><%= task.comments.count %></span>
          <% end %>
        </td>

        <td>
          <% if task.due_date %>
            <%= task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
        </td>

        <td>
          <div class="pull-right">
            <%= link_to "Edit", edit_project_task_path(@project, task), class: 'btn btn-info text-right' %>
            <%= link_to "", project_task_path(@project, task), method: :delete, class: "glyphicon glyphicon-remove" %>
          </div>
        </td>

      </tr>

    <% end %>

  </tbody>

</table>
