<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Task", new_project_task_path(@project), class: 'btn btn-info' %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">

  <thead>
    <tr>
      <th>Description</th>
      <th>Due on</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>

        <td class="col-md-3">
          <% if task.completed %>
            <s><%= link_to task.description, project_task_path(@project, task) %></s>
          <% else %>
            <%= link_to task.description, project_task_path(@project, task) %>
          <% end %>
        </td>

        <td>
          <% if task.due_date %>
            <%= task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
        </td>

        <td>
          <div class="pull-right">
            <%= link_to "Edit", edit_project_task_path(@project, task), class: 'btn btn-info text-right' %>
            <%= link_to "Destroy", project_task_path(@project, task), method: :delete, class: 'btn btn-danger text-right' %>
          </div>
        </td>

      </tr>

    <% end %>

  </tbody>

</table>
