<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_task_path(@task), class: 'btn btn-info' %>
  </div>
  <% if @task.completed %>
    <h1><s><%= @task.description %></s></h1>
  <% else %>
  <h1> <%= @task.description %> </h1>
  <% end %>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path %></li>
  <li class="active"><%= @task.description %></li>
</ul>
