<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_project_task_path(@project, @task), class: 'btn btn-info' %>
  </div>
  <% if @task.completed %>
    <h1><s><%= @task.description %></s></h1>
  <% else %>
  <h1> <%= @task.description %> </h1>
  <% end %>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project, @tasks) %></li>
  <li class="active"><%= @task.description %></li>
</ul>

<p>
<strong>Due On:</strong>
<% if @task.due_date %>
  <%= @task.due_date.strftime("%m/%d/%Y") %>
<% end %>
</p>
