<%= render partial: "shared/errors", locals: { object: @user } %>


<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :first_name, "First Name", class: "col-sm-2 control-label" %>
    <div class="col-md-6"><%= f.text_field :first_name, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name", class: "col-sm-2 control-label" %>
    <div class="col-md-6"><%= f.text_field :last_name, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-md-6"><%= f.text_field :email, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-md-6"><%= f.password_field :password, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation", class: "col-sm-2 control-label" %>
    <div class="col-md-6"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
  </div>

  <% if current_user.is_admin? %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :admin %> Admin
          </label>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-md-4 col-sm-offset-2">
      <%= f.submit name_of_button, class: "btn btn-primary" %>
      <%= link_to "Cancel", users_path, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
