<div class="well col-md-offset-2 col-md-7">

  <div class="page-header">
    <h1>Sign into gCamp</h1>
  </div>

  <% if @sign_in_error %>
      <div class="text text-danger">
        <p><strong><%= @sign_in_error %></strong></p>
      </div>
  <% end %>

  <%= form_tag sign_in_path do %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4 control-label">
          <%= label_tag :email %>
        </div>
        <div class="col-md-12">
          <%= text_field_tag :email, value = nil, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4 control-label">
          <%= label_tag :password %>
        </div>
        <div class="col-md-12">
          <%= password_field_tag :password, value = nil, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="actions form-group">
      <%= submit_tag "Sign In", class: "btn btn-default" %>
    </div>

  <% end %>

</div>
