<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_project_path(@project), class: 'btn btn-info' %>
  </div>
  <h1><%= @project.name %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= "#{@project.name}" %></li>
</ul>

<p><%= link_to "#{pluralize(@project.tasks.count, 'Task')}", project_tasks_path(@project, @task) %></p>
<p>
  <%= link_to "#{pluralize(@project.memberships.count, 'Membership')}", project_memberships_path(@project, @membership) %>
</p>

<div class="well">
  <h3>Delete Project</h3>
  <p>
    Deleting this project will also delete <%= "#{pluralize(@project.memberships.count, 'membership')}, #{pluralize(@project.tasks.count, 'task')}" %> and associated comments.
  </p>

  <%= link_to "Delete", project_path, method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

</div>
